nav.navbar.navbar-default {
    background-color: #E1E1E1;
    border-color: #E1E1E1;
}

nav.navbar.navbar-default .navbar-header a.navbar-brand {
    color: #000000;
}

/* tag */
.tag-group .tag-item {
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    cursor: pointer;
    color: #999999;
    background-color: #FFFFFF;
}

.tag-group .tag-item:hover {
    border: 2px solid #888888;
}

.tag-group .tag-item.active {
    border: 2px solid #000000;
    background-color: #E1E1E1
}

.tag-group .tag-item .tag-item-label {
    color: #999999;
    padding: 0px 5px;
    cursor: pointer;
    user-select: none;
}

.tag-group .tag-item.active .tag-item-label {
    color: #000000;
}

.tag-group .tag-item .tag {
    display: none;
}

.tag-item--small {
    padding: 2px 4px;
    margin: 2px;
}

.tag-item--big {
    
}

/* #status-list li {
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    padding: 2px 4px;
    margin: 2px 10px;
    cursor: pointer;
    color: #999999;
    background-color: #FFFFFF;
}

#status-list li:hover {
    border: 2px solid #888888;
}

#status-list li.checked {
    border: 2px solid #000000;
    background-color: #E1E1E1
}

#status-list li input.status {
    display: none;
} */

#status-list li label {
    color: #999999;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
}

#status-list li label.checked {
    color: #000000;
}

#status-list #status-ac {
    color: #fff;
    background-color: #5cb85c;
}

#status-list #status-wa {
    background-color: #f0ad4e;
}

#status-list #status-none {
    background-color: #fff;
}

.problem-tag {
    border: 2px solid #000000;
    background-color: #E1E1E1;
    color: #000000;
    padding: 0px 5px;
    margin: 7px 2px;
    font-weight: 700;
    border-radius: 10px;
    user-select: none;
}

.condition-form {
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#radio-or-tag {
    display: none;
}

#radio-and-tag {
    display: none;
}

.label-radio-tag {
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    color: #999999;
    background-color: #FFFFFF;
    padding: 10px 15px;
}
.label-radio-tag:hover {
    border: 2px solid #888888;
}
.label-radio-tag.checked {
    color: #000000;
    border: 2px solid #000000;
    background-color: #E1E1E1
}